{% extends 'blog/base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      {% if user.is_authenticated %}
        <a class="text-right" href="{% url 'post_edit' pk=post.pk %}">
          <span class="glyphicon glyphicon-pencil">Edit Post</span>
        </a>
      {% endif %}
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}
